
.row{
    width: 1000px;
}
.nav li{
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: 300;
    color: #000000;
}


.Qnum{
    font-family: "微软雅黑";
    font-size: 30px;
    font-weight: 300;
    color: #1b9a14;
    float: left;
}

.Question{
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: 300;
    float: left;
    padding-top: 5px;
    cursor: pointer;
}

.answer{
    font-family: "微软雅黑";
    font-size: 18px;
    border:2px solid #d8d8d8;
    background-color: #f1f1f1;
    text-align: left;
    width: 600px;
}

